#container {
    margin: auto;
    width: 75%;
    max-width: 875px;
}

#drop_zone_wrap {
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

