{% from tornado.options import options %}

<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{{static_url('css/upload.css')}}">
  </head>

  <body>
    <section id="container">
      <div id="drop_zone_wrap">
        <div id="drop_zone"> drop one file here</div>
        <output id="list"></output>
      </div>
    </section>
  </body>
  <footer>
  <script data-main="{{static_url('js/common')}}" src="{{static_url('js/lib/require.js')}}">

  </script>
  <script>
    requirejs(['lib/jquery', 'lib/md5'],function(common, jquery, md5){
        requirejs(['app/upload_app'], function(upload_app){
            upload_app.upload_wrap("{{reverse_url('upload')}}", "{{options.fname}}", "{{options.fileid}}", "{{options.serial}}", "{{options.chunk_size}}");
    });
});
  </script>
  
  </footer>
</html>
