{% from tornado.options import options %}

<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
      <div id="upload">
          <input type="file" id="files" name="files[]" multiple />
      </div>
      <output id="list"></output>
  </body>
  <footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
      function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // files is a FileList of File objects. List some properties.
        var output = [];

        function uploadFile(file){
            var self = this;

            function setupSender(blob){
                var xhr = new XMLHttpRequest();
                this.xhr = xhr;
                xhr.open("POST", {{reverse_url('upload')}});
                xhr.overrideMimeType('text/plain; charset=x-user-defined-binary');
                xhr.responseType = 'json'
                xhr.setRequestHeader('Filename', escape(file.name));
                // call when server return data
                xhr.onload = function() {
                    if (xhr.response.success){
                        $('.filename').css('color','green');
                    }
                    else{
                        var filename = $('.filename').html();
                        $('.filename').html(filename + ' upload failed.');
                    }
                }
                xhr.send(blob);
            }

            function setupReader(blob){
              var reader = new FileReader();
              // call when readAsBinaryString is available
              reader.onloadend = function(evt) {
                    if(evt.target.readyState == FileReader.DONE){
                        setupSender(evt.target.result);
                    }
                };
              reader.readAsBinaryString(blob);
            }

            // read all content into memory at one time
            var chunk_size = {{options.chunk_size}};
            var full_chunk_loop_time = parseInt(file.size / chunk_size);
            var left_chunk_size = file.size % chunk_size;
            for(i=0; i<full_chunk_loop_time; i++){
              if (file.webkitSlice) {
                  // file sliced in [start, end) format
                  var blob = file.webkitSlice(i*chunk_size, (i+1)*chunk_size);
              } else if (file.mozSlice) {
                  var blob = file.mozSlice(i*chunk_size, (i+i)*chunk_size);
              } else if(file.slice){
                  var blob = file.slice(i*chunk_size, (i+1)*chunk_size);
              }
              setupReader(blob);
            }

            // handle chunk that left
            if(left_chunk_size){
              if (file.webkitSlice) {
                  var blob = file.webkitSlice(full_chunk_loop_time*chunk_size, file.size);
              } else if (file.mozSlice) {
                  var blob = file.mozSlice(full_chunk_loop_time*chunk_size, file.size);
              } else if(file.slice){
                  var blob = file.slice(full_chunk_loop_time*chunk_size, file.size);
              }
              setupReader(blob);
            }
        }

        // upload sigle file
        file = files[0];
        output.push('<li><strong class="filename">', escape(file.name), '</strong> (', file.type || 'n/a', ') - ',
                      file.size, ' bytes, last modified: ',
                      file.lastModifiedDate ? file.lastModifiedDate.toLocaleDateString() : 'n/a',
                      '</li>');

        // upload file
        $('#list').html('<ul>' + output.join('') + '</ul>');
        uploadFile(file);
      }

      $('#files')[0].addEventListener('change', handleFileSelect, false);
    </script>
  </footer>
</html>
